body{
    background: #ebebf2;
}

.myloader{
    height: 77px;
    margin: 185px 0px;
}




.test_11 {
    background-color: #e9e9e9;
    display: inline-block;
    margin: 8px;
    padding: 4px 9px;
    width: 55px;
}
.test_11a {
    background-color: #22ff00;
    display: inline-block;
    margin: 8px;
    padding: 4px 9px;
    width: 55px;
}
